table{margin-bottom: 16px; border: 1px solid #B9B8BB;border-collapse: collapse;}
td{border: 1px solid #B9B8BB; padding: 0.5em;}
table.no_lines,table.no_lines td,table.no_lines th{border:none;border-collapse:collapse;padding:5px}
.sideFixManueWrap{position:fixed;width:1000px;left:50%;margin-left:-500px}
.sideFixManue{position:absolute;top:88px;right:-120px;width:100px}
.sideFixManue a,.sideFixManue a:link{display:block;line-height:27px;margin-bottom:20px;background-color:#f2f2f2;color:#a6a6a6;text-align:center;font-style:normal;border-radius:27px;text-decoration:none;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;padding:0 14px;font-size:12px}
.sideFixManue a.active{background-color:#ffa633;color:#fff}
.sideFixManue2{width:210px;right:-220px;top:-50px}
.sideFixManue .col{float:left;width:100px}
.sideFixManue .col:nth-child(2){margin-left:10px}
div.MCBreadcrumbsBox_0{ padding-bottom: 10px; margin-bottom: 10px; margin-top: 20px;}
a.MCBreadcrumbsLink{font-style:italic;text-decoration:underline}
a.MCBreadcrumbsLink,a.MCBreadcrumbsLink:hover{color:#2d82dc;}
a.MCBreadcrumbsLink:visited{color:#000}
a.MCBreadcrumbsLink:hover{color:#BED230}
h1.topictitle{padding-bottom: 10px; margin: 50px 0 8px;font-size: 24px;}
h2.sectiontitle{font-weight:400;background:url(../Images/heading_bg.png) repeat;font-size:19px;color:#fff;margin: 20px 0 4px; padding:5px;}
td.with_bg_color{margin:8px;vertical-align:middle;background-color:#f7f3f7;font-size:.95em;padding-left:10px!important}
td.warning{background-color:#de8639;font-weight:700;font-style:normal;vertical-align:middle;color:#fff;padding:0 px;width:30px}
td.caution{background-color:#3179b5;font-weight:700;font-style:normal;color:#fff;vertical-align:middle;padding:0;width:30px}
td.note{background-color:#bc8f8f;font-weight:700;font-style:normal;color:#fff;vertical-align:middle;width:30px}
td.tip{background-color:#8fbc8b;font-weight:700;font-style:normal;color:#fff;vertical-align:middle;width:30px}
table.baseTable{border-collapse:collapse; border-spacing:0;}
.baseTable td{ border-left: 1px solid #B9B8BB; border-bottom: 1px solid #B9B8BB; padding: 7px;}
.borderTable td{border-left:1px solid #B9B8BB; border-bottom: 1px solid #B9B8BB; padding: 5px; text-align: left; font-size: 14px;}
.borderTable{border-right: 1px solid #B9B8BB; border-top:1px solid #B9B8BB;border-collapse:collapse; border-spacing:0; margin-top: 20px;}
.borderTable td b{white-space: nowrap; font-weight: bold;}
.nowrapTT td b{white-space: normal;}
.smallTable td *,.smallTable th *{font-size: 12px!important;}
th{background-color: #E5E8E8; border-left:1px solid #B9B8BB; border-bottom: 1px solid #B9B8BB;  color:#333; padding: 6px; font-weight: bold;}
th b{font-weight: bold;}

.section{margin-top: 12px;}
.section p{margin: 8px 0; font-size: 16px; line-height: 1.5em;}
.section td p{font-size: 14px; margin: 0;}
.sectiondiv b{font-weight: bold; line-height: 1.7em; font-size: 16px;}
div.fig img{max-width: 400px; width: 100%}
.sectiondiv a{font-weight: bold;}
div.MCMiniTocBox_0{padding:10px 0 0 20px; border-top:solid 1px #000;}
p.MiniTOC1_0{margin: 18px 0; display: block; font-weight: bold; font-size: 16px;}
p.MiniTOC1_0 a,p.MiniTOC1_0 a:hover{text-decoration: none}
.item_row{max-width: 1000px;}
.search-field{width:178px;}
.listInner{}
ul.listInner {list-style-image: none;}
.listInner li{margin: 18px 0; background: url("../Images/Bullet1.png") no-repeat 0 8px; padding-left: 15px;list-style-image: none;}
.listInner a{font-weight: bold; font-size: 16px; text-decoration: none;}
td .listInner li{margin: 5px 0; background-position: 0 5px;}

ol>li{list-style: decimal; margin-left: 20px;}

.rightBottomFixWrap{position:fixed;bottom:30px;width:1200px;left:50%;margin-left:-600px}
.rightBottomFix{position:absolute;right:-100px;bottom:0}
.rightBottomFix a{display:block;width:50px;height:50px;border-radius:100%;background-color:#ff9000;color:#fff!important;font-style:normal;text-align:center;line-height:50px;text-decoration:none;font-size:16px;margin-top:20px;padding-top:8px}
.icon{width:25px;height:25px;display:inline-block}
.icon_home{background:url(../Images/icon_home.png) no-repeat;background-size:100% 100%}
.icon_totop{background:url(../Images/icon_totop.png) no-repeat;background-size:100% 100%;margin-left:3px}
.rightBottomFix a.backHome{display:none}
#toTop{position:relative;top:-250px}
.sectiontitlePlace,.sectiontitlePlace2{position:relative;top:-100px}
video{max-width: 726px; width: 100%;}
.sectiondiv{margin-top: 30px;}
div.sectiondiv i{ font-size: 14px; font-weight: bold; }

@media only screen and (max-width: 1200px) {
    .main-section .item_row{padding-right: 16px;}
    .search-field{width:100%;}
    div.MCBreadcrumbsBox_0{position:fixed;left:0;top:60px;right:0;padding:16px;background-color:#fff;z-index:199;margin: 0;}
    div.MCBreadcrumbsBox_0 .arrow_down{content:" ";display:block;border-color:#ff9000 #fff #fff #fff;border-style:solid;border-width:8px;width:8px;height:4px;position:absolute;top:22px;right:16px}
    div.MCBreadcrumbsBox_0 .trun_up{transform:rotate(180deg);top:12px}
    .sideFixManueWrap{display:none;position:static;width:100%;margin-left:0;overflow:hidden}
    .sideFixManue{position:static;width:100%;margin-left:-5px; max-height: 400px; overflow-y: auto;}
    .sideFixManue a,.sideFixManue a:link{display:inline-block;padding:0 5px;border-radius:5px;margin-top:5px;margin-bottom:0;margin-left:5px}
    .sideFixManue .col:nth-child(2){margin-left: 0;}
    .sectiontitlePlace{top:-120px!important}
    .rightBottomFixWrap{width:100%;margin-left:0;left:0}
    .rightBottomFix{right:16px}
    .rightBottomFix a.backHome{display:block}
    h1.topictitle{margin-top: 50px;}
    .sideFixManue .col{float:none;display:inline-block;width:auto}


}