/*<meta />*/

@import url('font_face.css');



body
{
	color: #404040;
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
	font-size: 1em;
	line-height: 1.7em;
}

a
{
	color: #237dcb;
}

a:link,a:hover,a:active,a:visited
{
	color: #ff9000;
}

/* 
a:visited
{
	color: #237dcb;
}

a:hover
{
	color: #BED230;
}
*/

a.MiniTOC1:link
{
	color: #237dcb;
}

a.MCBreadcrumbsLink
{
	text-decoration: underline;
}

a.MCBreadcrumbsLink:visited
{
	color: #000000;
}

a.MCBreadcrumbsLink:hover
{
	color: #BED230;
}

blockquote
{
	background-color: #e1e1e1;
	background-image: url('../Images/QuotationMark.png');
	background-repeat: no-repeat;
	background-position: top left;
	border-bottom: none;
	border-left-color: #b3b3b3;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #b3b3b3;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #b3b3b3;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 1px;
	font-family: 'Century Gothic';
	font-size: 0.9em;
	font-style: italic;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding-bottom: 0px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 12px;
}

blockquote.name
{
	background-image: none;
	border-bottom-color: #b3b3b3;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-bottom: 0;
	padding-bottom: 12px;
	padding-right: 35px;
	padding-top: 8px;
	text-align: right;
}

div.ImagesFloatLeft
{
	clear: both;
	float: left;
	margin-right: 10px;
	padding: 5px;
}

div.ImagesFloatRight
{
	clear: both;
	float: right;
	margin-left: 10px;
	padding: 5px;
}

div.TightContent
{
	margin: 0px;
	padding: 0px;
	line-height: 1em;
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 8px;
	margin-top: 20px;
	padding-bottom: 10px;
}

h2
{
	font-size: 1.3em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
}

h3
{
	margin-bottom: 4px;
	margin-top: 16px;
	font-weight: bold;
	font-size: 1em;
}

img
{
	border: none;
}

.FiftyPercentMaxWidth
{
	max-width: 50%;
}

img.Thumbnail
{
	mc-thumbnail: popup;
}

img.ReduceButtonSize
{
	max-height: 18px;
	max-width: auto;
}

li
{
	orphans: 2;
	widows: 2;
}

ol
{
	list-style-image: none;
	padding-left: 5px;
}

ol.LowerAlpha
{
	list-style-type: lower-alpha;
}

ol.LowerRoman
{
	list-style-type: lower-roman;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

p.CompanyInformation1
{
	margin-bottom: 4px;
	margin-top: 14px;
	font-weight: bold;
}

p.CompanyInformation2
{
	color: #6d6d6d;
	margin-top: 4px;
	margin-bottom: 4px;
}

p.Example
{
	background-color: #bed230;
	border-bottom-color: #a4ac67;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #a4ac67;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #a4ac67;
	border-right-style: solid;
	border-right-width: 1px;
	margin-top: 0px;
	padding-bottom: 14px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
}

p.ExampleHead
{
	background-color: #bed230;
	border-left-color: #a4ac67;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #a4ac67;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #a4ac67;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 1px;
	font-size: .9em;
	font-weight: bold;
	letter-spacing: 5px;
	margin-bottom: 0px;
	margin-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 14px;
	page-break-after: avoid;
}

p.ExampleMiddleSection
{
	background-color: #bed230;
	border-left-color: #a4ac67;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #a4ac67;
	border-right-style: solid;
	border-right-width: 1px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
}

p.note
{
	background-color: #3e3e3e;
	background-image: url('../Images/NoteIcon.png');
	background-repeat: no-repeat;
	border: solid 1px #404040;
	border-radius: 6px;
	color: #b3b3b3;
	mc-auto-number-format: '{b}{color #bed230}Note: {/color}{/b}';
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
}

p.noteBottom
{
	background-color: #3e3e3e;
	border-bottom-color: #404040;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #404040;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #404040;
	border-right-style: solid;
	border-right-width: 1px;
	border-top: 0px;
	color: #b3b3b3;
	margin-top: 0px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 0px;
}

p.noteMiddle
{
	background-color: #3e3e3e;
	border-bottom: 0px;
	border-left-color: #404040;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #404040;
	border-right-style: solid;
	border-right-width: 1px;
	border-top: 0px;
	color: #b3b3b3;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 8px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 0px;
}

p.noteTop
{
	background-color: #3e3e3e;
	background-image: url('../Images/NoteIcon.png');
	background-repeat: no-repeat;
	border-left-color: #404040;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #404040;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #404040;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 1px;
	color: #b3b3b3;
	margin-bottom: 0;
	mc-auto-number-format: '{b}{color #bed230}Note: {/color}{/b}';
	padding-bottom: 8px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
}

p.TableTextCenterDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
	text-align: center;
}

p.TableTextDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextDarkEmphasis
{
	color: #000000;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
}

span.Emphasis
{
	font-weight: bold;
}

span.SetOffFirstLevel
{
	color: #5e6914;
	font-weight: bold;
}

span.SetOffSecondLevel
{
	color: #445879;
	font-weight: bold;
}

td
{
	margin: 8px;
	vertical-align: middle;
}

th
{
	color: #ffffff;
	margin-bottom: 8px;
	margin-top: 8px;
}

ul
{
	/* margin-left: 2.1em; */
	list-style-image: url('../Images/Bullet1.png');
	padding: 0;
}

ul.FirstLevelLessIndentation
{
	list-style-image: url('../Images/Bullet1.png');
}

ul.SecondLevel
{
	list-style-image: url('../Images/Bullet2.png');
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	/*width: 33.33%; */
}

html.templateTopic div.sideContent
{
	display: none;
}

/* Admonitons */
/*Note*/

div.Admonition_Note
{
	margin-top: 5px;
	border-style: solid;
	border-radius: 15px;
	background-color: #ffffff;
	border-color: gray;
	padding-bottom: none;
	padding-top: 55px;
	padding-left: 4px;
	background-image: url("../Images/notes.jpg.png");
	background-repeat: no-repeat;
	background-position: left top;
	min-height: 50px;
}

div.Admonition_Note > p:first-child
{
	/*   mc-auto-number-format: '{b}注意：{/b} '; */
}

/* Warning */

div.Admonition_Warning
{
	margin-top: 5px;
	border-style: solid;
	border-radius: 15px;
	background-color: #ffffff;
	border-color: gray;
	border-bottom: none;
	padding-bottom: 0px;
	padding-top: 55px;
	padding-left: 4px;
	background-image: url("../Images/warning.jpg.png");
	background-repeat: no-repeat;
	background-position: left top;
	min-height: 50px;
}

div.Admonition_Warning > p:first-child
{
	/*  mc-auto-number-format: '{b}警告：{/b} '; */
}

/* Tip */

div.Admonition_Tip
{
	margin-top: 5px;
	border-style: solid;
	border-radius: 15px;
	background-color: #ffffff;
	border-color: gray;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 85px;
	/* 	background-image: url("https://c2b.saicmaxus.com/h5/manual/D90/Content/Resources/Images/tips_2.jpg");*/
	background-repeat: no-repeat;
	background-position: center left;
	min-height: 50px;
}

div.Admonition_Tip > p:first-child
{
	/*  mc-auto-number-format: '{b}提醒：{/b} '; */
}

/*Caution*/

div.Admonition_Caution
{
	background-size: 70px 70px;
	margin-top: 5px;
	border-style: none;
	border-radius: 0px;
	background-color: #f7f3f7;
	border-color: gray;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 75px;
	background-image: url("../Images/notice2.png");
	background-repeat: no-repeat;
	background-position: left center;
	min-height: 75px;
}

div.Admonition_Caution > p:first-child
{
	/*   mc-auto-number-format: '{b}小心：{/b} '; */
}

/* Table styles */

table
{
	color: #222222;
	background-color: transparent;
	border: solid 1pt #cccccc;
	border-collapse: collapse;
	caption-side: top;
	font-size: 90%;
	line-height: normal;
	margin-bottom: 1.1em;
	mc-caption-continuation: ', continued';
	/* Localizable */
	mc-caption-repeat: true;
	text-align: left;
}

table.no_lines,
table.no_lines td,
table.no_lines th
{
	border: none;
	border-collapse: collapse;
	padding: 5px;
	/*	background-color: transparent;*/
	/*	color: #000000; */
}

caption
{
	color: #000000;
	text-align: left;
	font-weight: bold;
}

th
{
	background-color: #003366;
	border: solid 1pt #cccccc;
	border-bottom: solid 1px #cccccc;
	border-right-style: solid;
	border-right-color: #cccccc;
	border-right-width: 1px;
	border-top: .1em solid #cccccc;
	color: #FFFFFF;
	font-weight: bold;
	padding: 0.5em;
	vertical-align: bottom;
	text-align: left;
}

th.center
{
	text-align: center;
}

tr
{
	page-break-inside: avoid;
}

tr.allowBreak
{
	page-break-inside: auto;
}

td
{
	background-color: transparent;
	border-top-style: solid;
	border-top-color: #cccccc;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-color: #cccccc;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
	color: #000000;
	padding: 0.5em;
	vertical-align: middle;
	text-align: left;
}

td.center
{
	text-align: center;
}

th.null
{
	border: none;
	color: #000000;
}

td.null
{
	border: none;
	border-collapse: collapse;
}

td ul
{
	/*	margin-left: 8px; */
	margin-top: 0px;
	padding: 0px;
	/*	padding-left: 0.2em; */
}

td ol
{
	margin-left: 14px;
	margin-top: 0px;
	padding: 0px;
	padding-left: 0.2em;
}

td
{
	color: #222222;
	border: 1px solid #B9B8BB;
}

th
{
	color: #333333;
	background-color: #E5E8E8;
	border: 1px solid #B9B8BB;
	vertical-align: top;
}

table.no_lines,
table.no_lines td
{
	/* color: #222222; */
}

table.no_lines th
{
	color: #333333;
}

caption
{
	color: #222222;
}

img
{
	max-width: 100%;
	height: auto;
}

td.with_bg_color
{
	margin: 8px;
	vertical-align: middle;
	background-color: #f7f3f7;
	font-size: 0.95em;
	/*   padding-bottom: 0px !important;*/
	padding-left: 10px !important;
}

td.warning
{
	background-color: #f7f3f7;
	/*#de8639*/
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	/*	text-align: center; */
	color: #ffffff;
	padding: 0 px;
	width: 30px;
}
td.warning p{
    background-color: #de8639;
    border-radius: 3px;
}
td.note p{
    background-color: #bc8f8f;
    border-radius: 3px;
}
td.caution p{
    background-color: #3179b5;
    border-radius: 3px;
}
td.caution
{
	background-color: #f7f3f7;
	font-weight: bold;
	font-style: normal;
	color: #ffffff;
	vertical-align: middle;
	padding: 0px;
	width: 30px;
	/*	text-align: center; */
}

td.note
{
	background-color: #f7f3f7;
	font-weight: bold;
	font-style: normal;
	color: #ffffff;
	vertical-align: middle;
	width: 30px;
	/*	text-align: center; */
}

td.tip
{
	background-color: #8fbc8b;
	font-weight: bold;
	font-style: normal;
	color: #ffffff;
	vertical-align: middle;
	width: 30px;
	/*	text-align: center; */
}

h2.bg_leaf1
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	background: url('../Images/bg_leaf1.png') no-repeat;
	font-size: 1.2em;
	color: #333;
	margin-left: 0;
	padding-left: 5px;
	padding-right: 5px;
	height: 75px;
	line-height: 55px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-size: contain;
}

h2.bg_leaf2
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	background: url('../Images/bg_leaf2.png') no-repeat;
	font-size: 1.2em;
	color: #333;
	margin-left: 0;
	padding-left: 5px;
	padding-right: 5px;
	height: 75px;
	line-height: 45px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-size: contain;
}

h2.bg_bread1
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	background: url('../Images/bg_bread1.png') no-repeat;
	font-size: 1.2em;
	color: #333;
	margin-left: 0;
	padding-left: 5px;
	padding-right: 5px;
	height: 75px;
	line-height: 60px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-size: contain;
}

h2.bg_bread2
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	background: url('../Images/bg_bread2.png') no-repeat;
	font-size: 1.2em;
	color: #333;
	margin-left: 0;
	padding-left: 5px;
	padding-right: 5px;
	height: 75px;
	line-height: 75px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-size: contain;
}

h2.bg_coffee
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	background: url('../Images/bg_coffee.png') no-repeat;
	font-size: 1.2em;
	color: #333;
	margin-left: 0;
	padding-left: 5px;
	padding-right: 5px;
	height: 75px;
	line-height: 55px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-size: contain;
}

.sectiontitlePlace{
	position: relative;
	top:-100px;
}

h2.sectiontitle
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	/*background: url('../Images/heading_bg.png') repeat;*/
	font-size: 1.2em;
	color: #ff9000;
    border-bottom: solid 1px #ccc;
    font-weight: bold;
	margin-left: 0;
	padding-left: 5px;
	padding-right: 5px;
	/*height: 41px;
 width: 800px; 
	line-height: 38px;*/
	padding-top: 5px;
	padding-bottom: 5px;
	background-size: contain;
}

div.robot
{
	background-repeat: no-repeat;
	background-image: url('../Images/muwen3.png');
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-left-style: solid;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-width: 2px;
	border-top-style: solid;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	color: #ffffff;
	vertical-align: middle;
	min-height: 75px;
}

div.robot_tip
{
	box-sizing: border-box;
	max-width: 100% !important;
}

div.robot_content
{
	display: inline-block;
	vertical-align: top;
	width: 65%;
}

div.robot_mid
{
	display: inline-block;
	vertical-align: top;
}

/*	robot-tip start*/

img.robot
{
	border: none;
	float: left;
}

p.heading
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-weight: bold;
	font-style: normal;
}

div.robot_left
{
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}

img.robot_left
{
	margin: 5px 10px;
	box-sizing: border-box;
	width: 80px !important;
	height: auto !important;
	visibility: visible !important;
}

img.robot_mid
{
	vertical-align: top;
	margin-top: 29px;
	box-sizing: border-box;
	background-color: #4489c9;
	width: 20px !important;
	height: auto !important;
	visibility: visible !important;
	vertical-align: top;
}

div.robot_right
{
	display: inline-block;
	border: 2px solid #4489c9;
	width: 90%;
	/* margin-top: 11px; */
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	padding: 12px;
	box-sizing: border-box;
	background-color: rgb(255, 228, 200) !important;
	visibility: visible !important;
}

.tipleft
{
	width: 80px;
	/* position: absolute;
			overflow: hidden; */
	display: inline;
}

.tipright:before
{
	position: absolute;
	content: "\00a0";
	width: 0px;
	height: 0px;
	border-width: 8px 18px 8px 18px;
	border-style: solid;
	border-color: transparent #4489c9 transparent transparent;
	top: 11px;
	left: -36px;
}

.tipright
{
	position: relative;
	display: inline-block;
	left: 18px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	padding: 0px 18px;
	border: 2px solid #4489c9;
	width: 65%;
	font-family: HYShiGuangTiW;
}

.tipleft img
{
	vertical-align: top;
	width: 80px;
}

/*	robot-tip end*/

li + li.tree-node.tree-node-leaf
{
	padding-left: 20px;
}

li.tree-node.has-submenu ~ li.tree-node.tree-node-leaf
{
	padding-left: 0px;
}

li.tree-node.has-submenu li.back.tree-node + li.tree-node.tree-node-leaf
{
	padding-left: 0px;
}

nav.tab-bar
{
	background-size: 100% 100%;
	position: fixed;
	z-index: 999;
	top: 0;
	width: 100%;
}

.search-field
{
	padding-right: 0px !important;
}

h1.topictitle
{
	font-weight: bold;
}

html.topic
{
	font-family: sans-serif;
	/*	padding-left: 5px;
	padding-right: 5px;
	margin-top: 6pt;
	margin-bottom: 9pt; */
}

table p
{
	margin: 0px !important;
}

/*
table
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	border-collapse: collapse;
	margin-top: 12pt;
}

td
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
}
*/

p.shortdesc
{
	
}

div.section
{
	margin-top: 12pt;
}

h2.sectiontitle
{
	
}

div.noteCaution
{
	/*	margin-top: 6pt;*/
}

div.noteCaution
{
	
}

div.sectiondiv
{
	
}

div.sectiondiv>b:first-child{
    color:#ff9000;
}

div.noteWarning
{
	/*	margin-top: 6pt;*/
}

div.noteWarning
{
	
}

div.noteNote
{
	/*	margin-top: 6pt;*/
}

div.noteNote
{
	
}

div.noteTip
{
	/*	margin-top: 6pt;*/
}

div.noteTip
{
	
}

ul
{
	margin-top: 6pt;
	margin-bottom: 6pt;
}

li
{
	margin-left: 12pt;
	margin-top: 6pt;
	margin-bottom: 2pt;
}

div.fig
{
	margin-top: 12pt;
}

div.sectiondiv i
{
	font-weight: bold;
	font-size: 0.9em;
    font-style: normal;
    color:#ff9000;
}

div.sectiondiv li{
    list-style: none;
    background: url("../Images/disc.png") no-repeat 0 7px;
    padding-left:16px;
    background-size: 10px 10px;
}
div.sectiondiv table li{
    background: none;
    padding-left: 0;
}
@media (min-width: 767px)
{
	div.fig img
	{
		max-width: 400px;
	}

	table
	{
		/*min-width: 350px; */
		min-width: 50%;
	}

	section.main-section
	{
		margin-top: 7%;
	}
}

@media (max-width: 767px)
{
	div.fig img
	{
		max-width: 100%;
	}

	table
	{
		width: 100%;
	}

	.search
	{
		position: absolute;
		top: 10%;
		width: 85%;
	}

	section.main-section
	{
		margin-top: 100px;
	}
}

ul.level2_ul_hyphen
{
	list-style-type: disc;
	list-style-image: none;
}

ul.level2_ul_hyphen > li::marker
{
	font-family: ;
	content: '—';
}

/*
ul.level2_ul_hyphen > li > ul
{
	list-style-type: disc;
	list-style-image: none;
}

ul.level2_ul_hyphen > li > ul > li::marker
{
	font-family: '(normal text)';
	content: '—';
}
*/

@media (min-width: 767px)
{
	video
	{
		max-width: 75%;
		
	}
}

@media (max-width: 767px)
{
	video
	{
		max-width: 100%;
		
	}
}

