/*<meta />*/

@media only screen and (max-width: 768px)
{
	nav.tab-bar
	{
		background-repeat: no-repeat;
		background-position: center top;
		background: #292928 url('Images/footer_bg_1.png') repeat center top;
	}

	.tab-bar-section a.logo
	{
		background-position: center center;
		background-repeat: no-repeat;
		top: 0;
		bottom: auto;
		margin-top: 0;
		background: none;
	}
	.search{
		top:8%;
	}
	.search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
		border-top: solid 1px #9b9b9f;
		border-right: solid 1px #9b9b9f;
		border-bottom: solid 1px #9b9b9f;
		background-color: transparent;
	}
	.search_slide{
		width:100%;
	}
	.search-filter
	{
		background-repeat: no-repeat;
		background-position: center center;
		border-top: solid 2px #9b9b9f;
		border-bottom: solid 2px #9b9b9f;
		background: #9B9B9F url('Images/FilterOutline.png') no-repeat center center;
	}

	.search-input
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.right-off-canvas-menu
	{
		background-position: top center;
		background-color: #333333;
	}

	.right-off-canvas-menu ul ul
	{
		background-position: top center;
		background-color: #333333;
	}

	.left-off-canvas-menu
	{
		background-position: top center;
		background-color: #333333;
	}

	.left-off-canvas-menu ul ul
	{
		background-position: top center;
		background-color: #333333;
	}

	.tab-bar-section.middle > div
	{
		min-height: 40px;
	}

	.inner-wrap nav.tab-bar .outer-row
	{
		
	}

	.tab-bar .menu-icon span
	{
		top: 10px;
		background: transparent url('Images/Menu.png') no-repeat center center;
	}

	.inner-wrap .outer-row
	{
		padding-left: 1em;
		padding-right: 1em;
	}

	.main-section > .outer-row
	{
		
	}

	ul.off-canvas-list li a
	{
		
	}

	ul.off-canvas-list li.back > a
	{
		
	}

	ul.off-canvas-list li a:hover
	{
		background-color: #242424;
	}

	ul.off-canvas-list li.back > a:hover
	{
		background-color: #242424;
	}

	nav.tab-bar .menu-icon
	{
		right: -13px;
	}

	.row.nav-search
	{
		
	}

	.search-bar
	{
		
	}

	.search-field
	{
		border-top: solid 1px #9b9b9f;
		border-right: solid 1px #9b9b9f;
		border-bottom: solid 1px #9b9b9f;
		border-left: solid 1px #9b9b9f;
		width:100%;
		margin-right: 0!important;
		padding-right: 106px;
		background: #000000 url('Images/footer_bg_1.png');
	}

	.search-filter-content
	{
		top: 2em;
		background-color: #ffffff;
	}

	.search-filter.open
	{
		background-color: #ffffff;
	}

	.search-filter.selected
	{
		background: transparent url('Images/Filter.png') no-repeat center center;
	}

	.search-filter-content ul li:hover
	{
		background-color: #ffffff;
	}

	.search-field::-webkit-input-placeholder
	{
		
	}

	.search-field::-moz-placeholder
	{
		
	}

	.search-field:-moz-placeholder
	{
		
	}

	.search-field:-ms-input-placeholder
	{
		
	}

	.search-filter-wrapper
	{
		right: 56px;
	}

	div.MCBreadcrumbsBox_0{
		position:fixed;
		left: 0px;
		top:60px;
		right:0px;
		padding: 16px;
		background-color: #fff;
		z-index: 199;
	}

	div.MCBreadcrumbsBox_0 .arrow_down{
		content: " ";
		display:block;
		border-color: #ff9000 #fff #fff #fff;
		border-style: solid;
		border-width: 8px;
		width: 8px;
		height: 4px;
		position: absolute;
		top: 22px;
		right: 16px;
	}

	div.MCBreadcrumbsBox_0 .trun_up{
		transform: rotate(180deg);
		top:12px;
	}

	.sideFixManueWrap{
		display: none;
		position: static;
		width:100%;
		margin-left: 0;
		overflow: hidden;
	}
	.sideFixManue{
		position: static;
		width:100%;
		margin-left: -5px;
	}
	.sideFixManue a,.sideFixManue a:link{
		display: inline-block;
		padding: 0 5px;
		border-radius: 5px;
		margin-top: 5px;
		margin-bottom: 0;
		margin-left: 5px;
	}
	.sectiontitlePlace{
		top:-120px!important;
	}
    .rightBottomFixWrap{
        width:100%;
        margin-left: 0;
        left: 0;
    }
    .rightBottomFix{
        right: 16px;
    }
    .rightBottomFix a.backHome{
        display: block;
    }

}

